.top{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid #FB7B84;
	color: #ffffff;
	background-color: #FB7B84;
	padding: 10px;
}

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}

.tzbar.accordion {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.tzbar.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.tzbar.active:after {
    content: "\2212";
}

.tztimer {
	text-align: center;
	background-color: #FB7B84;
	color: white;
	font-size: 15px;
	padding: 10px;
	width: 100%;
}

.btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}